beautifulsoup4==4.13.3
bokeh==3.1.1
chardet==4.0.0
cryptography==3.4.8
email_validator
endesive==2.18.5
genshi==0.7.7
aeroolib @ git+https://github.com/adhoc-dev/aeroolib@eb3f232f250ce6da978c41e47fdb95b43b0dad8d
currency2text @ git+https://github.com/aeroo/currency2text.git@e666e17eb54f5a49f5cfb3825d8513a4d1510249
PyAfipWs @ git+https://github.com/reingart/pyafipws@545ddcee9d1c59772ba8d418c28d8a6407a686e1
openupgradelib @ git+https://github.com/OCA/openupgradelib/@19ba25c49f15225a428d872d2e3710278928c072
#git+https://github.com/pysimplesoap/pysimplesoap@e1453f385cee119bf8cfb53c763ef212652359f5
httplib2==0.20.4
httpx
mock==5.2.0
mpld3==0.5.9
odoo_test_helper
ofxparse==0.21
ofxtools==0.9.5
openpyxl==3.1.5
pdf2image==1.17.0
Pillow==9.0.1
plotly==5.13.1
py3o.formats==0.3
py3o.template==0.10.0
pyjwt
pyOpenSSL==20.0.1
pyrfc6266==1.0.2
pysaml2
pyzbar==0.1.9
requests
responses==0.25.7
xlrd
M2Crypto==0.44.0
